name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v2
      with:
        python-version: '3.6'
        architecture: 'x64'

    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - name: Set workaround env var
      run: |
        echo "ACTIONS_ALLOW_UNSECURE_COMMANDS=true" >> $GITHUB_ENV

    - uses: conao3/setup-cask@master
      with:
        version: 0.8.4

    - name: Run tests
      run: 'make unix-ci'

  macos-test:
    runs-on: macos-latest
    strategy:
      matrix:
        emacs-version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot

    steps:
    - uses: actions/checkout@v1

    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - name: Run tests
      run: 'make windows-ci'

  windows-test:
    runs-on: windows-latest
    strategy:
      matrix:
        emacs-version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - uses: jcs090218/setup-emacs-windows@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Run tests
        run: 'make windows-ci'
